{{ $sidebartype := .Scratch.Get "sidebartype" }}
<div class="sidebarbox_mb2" >
	<ul>
	{{ $currentPage := . -}}
	{{ $section := $currentPage.Section -}}
	{{ range (index .Site.Menus $section) -}}
		{{ $active := in $currentPage.RelPermalink .Title }}
		<li class="">
			<p class="tit"><i class="fas fa-chevron-right fa-fw"></i>{{ .Name }}</p>
			<div class="conlist">
			{{ if .HasChildren -}}
			{{ range .Children -}}
				{{ $active := in $currentPage.RelPermalink .URL }}
				<a class="{{ if $active }}active{{ end }}" href="{{ .URL | relURL }}"><span>{{ .Name }}</span></a>
			{{end}}
			</div>
			{{end}}
		</li>
		
	{{end}}
</div>

<script type="text/javascript">
	$(".sidebarbox_mb2 a").each(function(){
		if($(this).hasClass("active")){
			$(this).parents("li").addClass("active")
		}
	})
	$(".sidebarbox_mb2 .tit").on("click",function(){
		if(!$(this).parents("li").hasClass("active")){
			$(this).parents("li").addClass("active")
		}else{
			$(this).parents("li").removeClass("active")
		}
	})
</script>